# Python virtual environments
venv/
.env
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# Byte-compiled / optimized / DLL files
*.so
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE / Editor
.vscode/
.idea/

# Misc
.DS_Store
.cursorignore
